body, html { height: 100%; }

body {
    background-color: gray;
}

#status {
    position: fixed;
    left: 20;
    bottom: 20;
    font-family: Lato;
    font-size: 20px;
    color: #222;
}

#glCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
}